<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
	<wicket:panel>
				<h2>
					<wicket:message key="console.maintenance.queuemanager.actions.emptyCache" />
				</h2>
				<div class="alert alert-danger">
					<wicket:message key="console.maintenance.queuemanager.actions.emptyCache.warning" />
				</div>
				<div class="actions">
					<button wicket:id="emptyCache" class="btn btn-danger btn-xs">
						<wicket:message key="console.maintenance.queuemanager.actions.emptyCache" />
					</button>
				</div>
	</wicket:panel>
</body>
</html>